<span>
  <style>
  .kui-header {
    background-color: #cccccc;
    color: #323232;
    text-align: left;
    font-weight: normal;
    padding-left: 4px;
  }
  </style>
  <span>
    <div id="browser-iframe" class="kui-flex-wrap">
    </div>
    <div id="search-menu" style="position:fixed;bottom:0;left:0;padding-left:4px;-moz-user-select:none;">
      <img src="/img/search.png" width="30px" height="30px"/>
    </div>
    <div id="option-menu" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/menu.png" width="30px" height="30px"/>
    </div>
    <div id="done-btn" class="sr-only" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/done.png" width="30px" height="30px"/>
    </div>
  </span>
</span>
