<span>
  <style>
  #__kai_router__{
    height:294px!important;
  }
  .kui-router-m-bottom{
    margin-bottom:0px!important;
  }
  .kui-header{
    height:0px;
  }
  .kui-router-m-top{
    margin-top:0;
  }
  .kui-header {
    background-color: #cccccc;
    color: #323232;
    text-align: left;
    font-weight: normal;
    padding-left: 4px;
  }
  </style>
  <span>
    <div id="browser-iframe" class="kui-flex-wrap">
    </div>
    <div id="search-menu" style="position:fixed;bottom:0;left:0;padding-left:4px;-moz-user-select:none;">
      <img src="/img/search_s.png" width="30px" height="30px"/>
    </div>
    <div id="option-menu" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/menu_s.png" width="30px" height="30px"/>
    </div>
    <div id="done-btn" class="sr-only" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/done_s.png" width="30px" height="30px"/>
    </div>
  </span>
</span>
