<span>
  <style>
  .full-screen-browser {
    height: 266px!important;
    margin: 0px 0px;
  }
  @media only screen and (orientation : portrait) {
    #browser-iframe {
      width: 240px;
    }
  }
  @media screen and (orientation: landscape) {
    #browser-iframe {
      width: 320px;
    }
  }
  .kui-header {
    background-color: #cccccc;
    color: #323232;
    text-align: left;
    font-weight: normal;
    padding-left: 4px;
  }
  </style>
  <span>
    <div id="browser-iframe" class="kui-flex-wrap" style="position:fixed;bottom:0;height:266px;">
    </div>
    <div id="search-menu" style="position:fixed;bottom:0;left:0;padding-left:4px;-moz-user-select:none;">
      <img src="/img/search.png" width="30px" height="30px"/>
    </div>
    <div id="option-menu" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/menu.png" width="30px" height="30px"/>
    </div>
    <div id="done-btn" class="sr-only" style="position:fixed;bottom:0;right:0;padding-right:4px;-moz-user-select:none;">
      <img src="/img/done.png" width="30px" height="30px"/>
    </div>
  </span>
</span>
