<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin:6px 2px 2px 6px;">Version 1.10.0</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Open Reader View via showBottomSheet</li>
      <li style="margin-right:0px;margin-bottom:3px;">Browse local html files on storage, Goto <i>Menu > Local HTML</i></li>
      <li style="margin-right:0px;margin-bottom:3px;">Fix bugs</li>
    </ul>
    <h5 style="margin:6px 2px 2px 6px;">Version 1.9.0</h5>
    <ul style="padding: 1px 0 1px 20px;font-size:14px;margin-bottom:2px;">
      <li style="margin-right:0px;margin-bottom:3px;">Press <b>Call</b> to download Reader View as HTML</li>
      <li style="margin-right:0px;margin-bottom:3px;">Improve URL/Google Search input box</li>
      <li style="margin-right:0px;margin-bottom:3px;">Use website title tag as the name of the downloaded HTML file</li>
      <li style="margin-right:0px;margin-bottom:3px;">Goto <b>Help & Support</b> page to read about new shortcut key guide</li>
    </ul>
  </div>
</div>
