<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="kui-divider">
      <input id="title" class="eBMNav kui-input" style="margin:2%;width:96%;" placeholder="Title" value="{{ title }}"/>
    </li>
    <li class="kui-divider">
      <input id="url" class="eBMNav kui-input" style="margin:2%;width:96%;" placeholder="URL" value="{{ url }}"/>
    </li>
    <li class="kui-divider eBMNav" style="height:56px;" @click="submit()">
      <div class="kui-row-center" style="justify-content:space-around;">
        <h4>SAVE</h4>
      </div>
    </li>
  </ul>
</div>
