<div style="padding:4px;font-size:14px;">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <b>NOTICE</b><br>
    <b>~</b> Save button within the https://getpocket.com/explore is not working. Please use <b>Save to GetPocket</b> to save website you visited to your GetPocket account<br>
    <div style="height:3px;"></div>
    <b>~</b> Press Call button 3 times in a row to close the app<br><br>
  <b>QR Code</b><br>
    <b>~</b> scan QR Code(URL or text) and open it in web browser<br>
    <div style="height:3px;"></div>
    <b>~</b> generate QR Code from URL<br>
    <div style="height:3px;"></div>
    <b>~</b> available on main screen and web browser<br>
    <div style="height:3px;"></div>
    <b>~</b> to fix camera permission, Goto <i>Settings > Privacy & Security > App Permissions > K-Pocket Browser > Camera and select Grant</i><br><br>
  <b>Share URL</b><br>
    <b>~</b> Share URL via SMS or other messaging apps<br><br>
  <b>Menu > Disable Javascript</b><br>
    <b>~</b> to speed up web page rendering (may not work on some websites)<br><br>
  <b>Menu > Turn On/Off Bluelight Filter</b><br>
    <b>~</b> to toggle Bluelight filter(reduce eye strain)<br><br>
  <b>Web Browser > Menu > Volume Control</b><br>
    <b>~</b> to control the sound volume<br><br>
  <b>Download Content</b><br>
    <b>~</b> Download web content, such as <b>https://example.com/photo.jpg</b> in Web Browser.<br>
    <div style="height:3px;"></div>
    <b>~</b> Support image, audio, video, HTML, etc<br>
    <div style="height:3px;"></div>
    <b>~</b> Only support direct url, not streaming url<br>
    <div style="height:3px;"></div>
    <b>~</b> Click <b>Web Browser > Menu > Download Content</b><br><br>
  <b>Reader View</b><br>
    <b>~</b> Parses html text (usually news and other articles) and returns title, author, main image and text content without nav bars, ads, footers, or anything that isn\'t the main body of the text. Analyzes each node, gives them a score, and determines what\'s relevant and what can be discarded<br>
    <div style="height:3px;"></div>
    <b>~</b> <b>Open with Reader View</b> render all element<b></b><br>
    <div style="height:3px;"></div>
    <b>~</b> <b>Open with Reader View(TEXT)</b> only extract text<b></b><br><br>
  <b>Reader View Shortcut Key</b><br>
    <b>Call[NEW]</b> Save as HTML<br>
    <b>*</b> Screenshot viewport<br>
    <b>#</b> Screenshot entire page<br>
    <b>Left Key</b> Zoom-out<b></b><br>
    <b>Right Key</b> Zoom-in<b></b><br><br>
  <b>Browser Shortcut Key</b><br>
    <b>1</b> Zoom-out<br>
    <b>2</b> Reset zoom<br>
    <b>3</b> Zoom-in<br>
    <b>5</b> Hide/Show menu
</div>
