<div class="kui-flex-wrap">
  <style>
  @media only screen and (orientation : portrait) {
    .img-holder-hp {
      margin-left: -30px;
      height: 160px;
      width: 160px;
    }
  }
  @media screen and (orientation: landscape) {
    .img-holder-hp {
      margin-left: -30px;
      height: 80px;
      width: 80px;
    }
  }
  </style>
  {{#empty}}
    <div style="text-align:center;white-space:pre-wrap!important;word-break:break-word!important;font-weight:bold;">
      <img class="img-holder-hp" src="/img/empty.png"/>
      <div>Empty</div>
    </div>
  {{/empty}}
  {{^empty}}
    <ul class="kui-list kai-container">
      {{#articles}}
      <li class="offlineArticlesNav" style="padding:5px;border-bottom:1px dashed #320374;"  @click='selected()'>
        <div style="width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between;">
          <small style="font-weight:bold;white-space:pre-wrap!important;word-break:break-word!important;">{{ title }}</small>
          <small style="float:right;text-align:right;">{{ siteName }}</small>
        </div>
      </li>
      {{/articles}}
    </ul>
  {{/empty}}
</div>
